@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    li{
        @apply p-4 text-base font-bold text-white 
         hover:text-yellow hover:text-xl
    }
    button{
        @apply text-white bg-black  border-2 text-xl rounded-lg  font-semibold
        hover:text-yellow hover:text-xl hover:bg-orange
    }
}
